div{
    width: 400px;
    height: 200px;
    background-color: greenyellow;
    margin: 10px auto;
    background-image: url(christian-holzinger-bVOmGEOnEzc-unsplash.jpg);
    background-size: cover;
}