.face{
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: maroon;
    border-radius: 0 0 50px 50px;
    position:absolute;
    top: 250px;
    left: 100px;
}
.lefteye, .righteye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    display: inline-block;
    top: 100px;
    left: 100px;
}
.righteye{
    left: 250px;
}