#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    /*making container as flex*/
    display: flex;
    /*display flex limits the items 
    to remain in the container 
    ie. the elements cannot overflow*/
    flex-direction: row;
    /*flex direction can be row/column, 
    this helps to arrange within the boundary 
    either row-wise or column-wise*/
    /*justify-content: flex-end;*/
    justify-content: flex-start; 
    
    /*applying flex-wrap property*/
    /* flex-wrap: wrap; */

    /*Align content*/
    align-content: flex-start;
   
}

 /*align self*/
 #org{
    align-self: center;
 }

h1{
    text-align: center;
}

#container div{
    height: 100px;
    /*changing the size to test flex-wrap property*/
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}